body{
    background-color:rgba(0, 0, 0, .99);
    height: 100%;
    margin: 0px;
    padding:0px;
}

#left-nav{
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    width: fit-content;
    display: flex;
    
    font-family: Arial, Helvetica, sans-serif;
}

#logo{    
margin: 5px;
/*Makes circle*/
width: 25px;
height: 25px;
border: 1px solid rgb(255, 255, 255);
border-radius: 50%;

/*Controls J*/
font-size: small;
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

#name{
margin-top: 5px;
font-size: small;
width: fit-content;
height:fit-content;
}  

#title{
font-size:x-small;
width:fit-content;
height: fit-content;
}

#profile{
    height: 90%;
    border: none;
    background:none;
}

.picRight{
    position: absolute;
    right: -20px;
    bottom: 0px;
    margin-left: 20px;
}