#left-nav{
    position: -webkit-sticky;
    position: sticky;
    position: top left;
    background-color: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: fit-content;
}


#logo{    
    margin: 5px;
    /*Makes circle*/
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0,0,0);
    border-radius: 50%;

    /*Controls J*/
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
#name{
    font-size: small;
    width: fit-content;
    height:fit-content;
}

#title{
    font-size:x-small;
    width:fit-content;
    height: fit-content;
    
}