body{
    background-color:#5c842acf;
    text-align: center;
}

h1{
    color:white;
    text-align: center;
}

p{
    color: white;
}

.button {
    background-color: #1c87c9;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover{
    opacity: .7;
    box-shadow: 30px;
  }