body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 5vw;
}


.pageDirector{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}
.post{
    margin-left: 2vw;
}


  /* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://static.wixstatic.com/media/b5c1bb_f2188e8ae7f3437aae0d17bc63a78310~mv2.png/v1/fill/w_608,h_342,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/fw_logo-removebg-preview.png");
  
    /* Set a specific height */
    height: 30vh;
  
  
    /* Position and center the image to scale nicely on all screens */
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size:cover;
  }

#logo{
position: fixed;

left: 5px;
top: 5px
}

#logoImage{
    width: 2vw;
    min-width: 25px;
    border: .9px solid white;
    border-radius: 50px;
}