body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 5vw;
}


.pageDirector{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}
.post{
    margin-left: 2vw;
}


  /* The hero image */
#hero{
    width: 99vw;
}

#logo{
position: fixed;

left: 5px;
top: 5px
}

#logoImage{
    width: 2vw;
    min-width: 25px;
    border: .9px solid white;
    border-radius: 50px;
}

.button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-family: Marker Felt;
    letter-spacing: 3px;
    color: rgb(0,0,0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #donateButton{
    
  }