h1{
    text-align: center;
    color:beige;
}

h3{
    color: beige;
}

a{
    color: rgb(202, 181, 156);
}

p{
    color:rgb(202, 181, 156);
    font-size: small;
}

center{
    color:rgb(202, 181, 156);
}

body{
background-color:rgb(79, 76, 76);
}
